#container

  #intro 
    %h1
      Welcome to Groupon Go -- we're hacking on a real-time chat app in realtime, for real. 
    %p
      The project itself is 
      = link_to("on Github","https://github.com/groupon/chat") 
      and we've got a backlog going in 
      = link_to("Pivotal Tracker.","https://www.pivotaltracker.com/projects/270327")
      Feel free to grab stories and send pull requests—we'll be merging and redeploying all day.

  #type_wrapper
    - form_tag send_data_chat_path(:format => :json), :id => 'message_post_form' do
      = text_field_tag :chat_input, '', :placeholder => "#{current_user.name}: "
      = submit_tag 'Post'
      %span.error
        You can't submit an empty message!
      %span.loading
      %ul#reply
        %li wuuuut
      
  %ul#chat_data
    - @posts.each do |post|
      = raw Mustache.render(File.read('./app/views/chats/_post.html.mustache'), {:profile_image_url => post.user.profile_image_url,:twitter_login => post.user.login, :name => post.user.name, :chat_input => post.chat_input, :time_ago => time_ago_in_words(post.created_at)})